<h1 style="padding: 12rem 1rem; text-align: center;" class="mt-4">Dashboard</h1>
<h4 style="padding-bottom: 2rem; text-align: center;" class="lead mb-3">Bem-Vindo <%= name %></h4>
<a href="/users/logout"  class="btn btn-danger" style="background-color: red; text-align: end;">Logout</a>