<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>Projeto</h1>
        <h2>Node.js Passport Authentication</h2>
        <p>Crie sua conta ou faça o login e teste</p>
        <a href="/users/register" class="btn btn-success btn-block mb-2"
          >Registre</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
      <h5 style="padding-top: 1rem; text-align: end;">Made by Daniel Veloso</h5>
    </div>
  </div>
  